#Stephen {
  font-family:"Arial";
  font-size: 150%;
  color:blue;
} 
.NBA {
  font-family: "Times New Roman";
  color:greenyellow
}
.GDP {
  font-family: Arial;
  color: Red;
}
.Country {
  font-size: 150%;
  color: pink;
}